<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" id="firstname" [(ngModel)]="reg_firstname" name="firstname" required />
        <div *ngIf="submitted && this.validationErrors['firstname'] !== 'undefined'" class="invalid-feedback d-block">
          <div *ngFor="let val of this.validationErrors['firstname']">{{val.toString()}} </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" id="lastname" [(ngModel)]="reg_lastname" name="lastname" required />
        <div *ngIf="submitted && this.validationErrors['lastname'] !== 'undefined'"class="invalid-feedback d-block">
          <div *ngFor="let val of this.validationErrors['lastname']">{{val.toString()}} </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="reg_email" required>
        <div *ngIf="submitted && this.validationErrors['email'] !== 'undefined'" class="invalid-feedback d-block">
          <div *ngFor="let val of this.validationErrors['email']">{{val.toString()}} </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="reg_password" required>
        <!--<input type="password" formControlName="password" class="form-control" [(ngModel)]="login_password" required />-->
        <div *ngIf="submitted && this.validationErrors['password'] !== 'undefined'" class="invalid-feedback d-block">
          <div *ngFor="let val of this.validationErrors['password']">{{val.toString()}} </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" id="password_confirm" name="password_confirm" [(ngModel)]="req_password_confirm" required>
        <div *ngIf="submitted && this.validationErrors['confirmpassword'] !== 'undefined'" class="invalid-feedback d-block">
          <div *ngFor="let val of this.validationErrors['confirmpassword']">{{val.toString()}} </div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="register()">
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>

<!--<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" id="firstName" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" id="lastname" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" id="email" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" id="password" class="form-control" required />
      </div>
      <div>
        <button class="btn btn-primary">
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>-->
