
<div class="card" *ngIf="!accountService.token">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" pInputText formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors  }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" pInputText formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>
    <div class="d-flex justify-content-center" >
      <button pButton [disabled]="loading || f['email'].value=='' || f['password'].value=='' " class="ngbuttonspace">
        <span pButtonLabel>Login</span>  
      </button>
      <a routerLink="/register" class="p-button">
        Register
      </a>
    </div>
    </form>
  </div>
</div>


