

  <h2>Login</h2>
  <form>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" [(ngModel)]="login_mail" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="login_password" name="password" required>
    </div>

    <div style="margin-top:20px">
      <button type="button" class="btn btn-primary m-2 float-end"
              (click)="login()">
        Login
      </button>
    </div>
  </form>
