/* You can add global styles to this file, and also import other style files */
.app-container {
  min-height: 50%;
  max-width: 60%;
  text-align:left;
  margin: 0 auto;
  overflow: hidden;
}

.buttonstrip {

}

.ngbuttonspace {
  margin-right:1em;
}
