<p-table #dt [value]="eserciziList" stripedRows
      [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="['esercizioId', 'ripetizioni', 'distanza', 'recupero', 'stile']">
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <!--<span class="text-xl font-bold">Esercizi</span>-->
      <span class="fs-4">Esercizi</span>
    </div>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="esercizioId">
        Id Esercizio
        <p-sortIcon field="Id" />
      </th>
      <th pSortableColumn="ripetizioni">
        Ripetizioni
        <p-sortIcon field="Reps" />
      </th>
      <th pSortableColumn="distanza">
        Distanza
        <p-sortIcon field="Distanza" />
      </th>
      <th pSortableColumn="recupero">
        Recupero
        <p-sortIcon field="Recupero" />
      </th>
      <th pSortableColumn="stile">
        Stile
        <p-sortIcon field="Stile" />
      </th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="esercizioId" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="ripetizioni" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="distanza" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="recupero" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="stile" matchMode="equals" [showMenu]="false">
          <ng-template #filter let-value let-filter="filterCallback">
            <p-select  [options]="stiliList" (onChange)="filter($event.value)" placeholder="Select Style" [showClear]="true" style="min-width: 12rem">
              <ng-template let-option #item>
                <p-tag [value]="option.value"/>
              </ng-template>
            </p-select>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-esercizio>
    <tr>
      <td>{{ esercizio.esercizioId }}</td>
      <td>{{ esercizio.ripetizioni }}</td>
      <td>{{ esercizio.distanza }}</td>
      <td>{{ esercizio.recupero }}</td>
      <td>{{ esercizio.stile }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer"> Ci sono in tutto {{ eserciziList ? eserciziList.length : 0 }} esercizi. </ng-template>
</p-table>
