<p-table [value]="eserciziList" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Esercizi</span>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>esercizioId</th>
      <th>ripetizioni</th>
      <th>distanza</th>
      <th>recupero</th>
      <th>stile</th>
    </tr>
  </ng-template>
  <ng-template #body let-esercizio>
    <tr>
      <td>{{ esercizio.esercizioId }}</td>
      <td>{{ esercizio.ripetizioni }}</td>
      <td>{{ esercizio.distanza }}</td>
      <td>{{ esercizio.recupero }}</td>
      <td>{{ esercizio.stile }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer"> Ci sono in tutto {{ eserciziList ? eserciziList.length : 0 }} esercizi. </ng-template>
</p-table>
