<div class="mb-4">
  <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
  <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
  <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
</div>
<p-table #dt [value]="eserciziList"
         dataKey="esercizioId"
         editMode="row"
         [tableStyle]="{ 'min-width': '50rem' }" stripedRows
         [paginator]="true"
         [sortField]="sortField"
         [sortOrder]="sortOrder"
         [rows]="10"
         [first]="first"
         [totalRecords]="totalRecords"
         [lazy]="true"
         (onLazyLoad)="loadEserciziLazy($event)"

         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         (onPage)="pageChange($event)"
         [rowsPerPageOptions]="[5, 10, 20]"
         [globalFilterFields]="['esercizioId', 'ripetizioni', 'distanza', 'recupero', 'stile']">
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <!--<span class="text-xl font-bold">Esercizi</span>-->
      <span class="fs-4">Esercizi</span>
    </div>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="esercizioId">
        Id Esercizio
        <p-sortIcon field="Id" />
      </th>
      <th pSortableColumn="ripetizioni">
        Ripetizioni
        <p-sortIcon field="Reps" />
      </th>
      <th pSortableColumn="distanza">
        Distanza
        <p-sortIcon field="Distanza" />
      </th>
      <th pSortableColumn="recupero">
        Recupero
        <p-sortIcon field="Recupero" />
      </th>
      <th pSortableColumn="stile">
        Stile
        <p-sortIcon field="Stile" />
      </th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="esercizioId" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="ripetizioni" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="distanza" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="recupero" placeholder="Type to search" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="stile" matchMode="equals" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">

            <p-select [ngModel]="value"
                      [options]="stiliList"
                      optionLabel="label"
                      optionValue="value"
                      (onChange)="filter($event.value)"
                      placeholder="Select Style"
                      [showClear]="true"
                      style="min-width: 12rem">

              <ng-template pTemplate="item" let-option>
                <p-tag [value]="option.label"></p-tag>
              </ng-template>

            </p-select>

          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <button pButton label="Add New" icon="pi pi-plus" (click)="openNew()"></button>
      </th>
    </tr>
    <!--<tr>
      <td>
        <div class="mb-4">
          <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
          <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
          <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
        </div>
      </td>
    </tr>-->
  </ng-template>
  <ng-template #body let-esercizio let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="esercizio">
      <td>{{ esercizio.esercizioId }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text"
                   [(ngModel)]="esercizio.ripetizioni" />
          </ng-template>
          <ng-template pTemplate="output">
            {{esercizio.ripetizioni}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text"
                   [(ngModel)]="esercizio.distanza" />
          </ng-template>
          <ng-template pTemplate="output">
            {{esercizio.distanza}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text"
                   [(ngModel)]="esercizio.recupero" />
          </ng-template>
          <ng-template pTemplate="output">
            {{esercizio.recupero}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ esercizio.stile }}</td>
      <td>
        <div class="flex items-center justify-center gap-2">
          <button *ngIf="!editing"
                  pButton icon="pi pi-trash"
                  (click)="deleteEsercizio(esercizio)">
          </button>
          <button *ngIf="!editing"
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  icon="pi pi-pencil"
                  (click)="onRowEditInit(esercizio)"
                  text
                  rounded></button>
          <button *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  (click)="onRowEditSave(esercizio)"
                  text
                  rounded></button>
          <button *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  (click)="onRowEditCancel(esercizio, ri)"
                  text
                  rounded></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #paginatorleft>
    <p-button type="button" icon="pi pi-plus" text />
  </ng-template>
  <ng-template #paginatorright>
    <p-button type="button" icon="pi pi-cloud" text />
  </ng-template>
  <!--<ng-template pTemplate="footer"> Ci sono in tutto {{ eserciziList ? eserciziList.length : 0 }} esercizi. </ng-template>-->
</p-table>
        <p-dialog [(visible)]="displayDialog" styleClass="dialog-fix" header="Nuovo esercizio">
          <div class="grid p-fluid align-items-center">

            <div class="col-4 text-right font-semibold">
              <label>Ripetizioni</label>
            </div>
            <div class="col-8">
              <p-inputNumber [(ngModel)]="newItem.ripetizioni"
                             [useGrouping]="false">
              </p-inputNumber>
            </div>

            <div class="col-4 text-right font-semibold">
              <label>Distanza</label>
            </div>
            <div class="col-8">
              <p-inputNumber [(ngModel)]="newItem.distanza"
                             [useGrouping]="false">
              </p-inputNumber>
            </div>

            <div class="col-4 text-right font-semibold">
              <label>Recupero</label>
            </div>
            <div class="col-8">
              <p-inputNumber [(ngModel)]="newItem.recupero"
                             [useGrouping]="false">
              </p-inputNumber>
            </div>

            <div class="col-4 text-right font-semibold">
              <label>Stile</label>
            </div>
            <div class="col-8">
              <p-select [(ngModel)]="newItem.stile"
                        [options]="stiliList"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleziona Stile"
                        [showClear]="true"
                        appendTo="self">

                <ng-template pTemplate="item" let-option>
                  <p-tag [value]="option.label"></p-tag>
                </ng-template>

              </p-select>
            </div>

          </div>

          <button pButton label="Save" icon="pi pi-check" (click)="save()"></button>
        </p-dialog>
<!--<p-paginator [rows]="10"
             [totalRecords]="120"
             (onPageChange)="pageChange($event)">
</p-paginator>-->
