<h1 id="tableLabel">Allenamenti Nuoto</h1>

<p>Elenco Allenamenti Registrati</p>

<p *ngIf="!allenamenti"><em>In caricamento... Ricarica la pagina dopo che il backend ASP.NET  è partito. Vedere <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> per ulteriori dettagli.</em></p>

<table *ngIf="allenamenti">
    <thead>
        <tr>
            <th>Ripetizioni</th>
            <th>Distanza</th>
            <th>Pausa</th>
            <th>Stile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let allenamento of allenamenti">
          <td>{{ allenamento.ripetizioni }}x</td>
          <td>{{ allenamento.distanza }}</td>
          <td>{{ allenamento.recupero }}</td>
          <td>{{ allenamento.stile }}</td>
        </tr>
    </tbody>
</table>
